<h1>歡迎參加轉蛋</h1>
<h2>一次10元</h2>

<div class = "button"><%= link_to "開始轉蛋", result_items_path, method: :post %></div>
<div class ="note">
  <h3>可能抽到的獎品有</h3>
  <% @items.each do |i| %>
    <%= i.name %>
  <% end %>
</div>
